<H1>{{titulo}}</H1> 

<h3>Estado Tienda: {{(estado)? 'ABIERTO': 'CERRADO'}}</h3><BR>

<button (click) = "cerrar_tienda()"> {{(estado)? 'CERRAR TIENDA': 'ABRIR TIENDA'}}</button>

<h3>CATEGORIAS: {{categorias}}</h3>

<select name="" id="">   
   <option *ngFor = "let cat of categorias" value="{{cat}}">{{cat}}</option>

</select>

<h2>REGISTRO DE PRODUCTOS</h2>
<form class="row g-3" [formGroup] = "productoform">
   <div class="col-md-4">
      <label for="inputCity" class="form-label">INGRESE PRODUCTO</label>
      <input type="text" class="form-control" formControlName = "nombre">
   </div>
   <div class="col-md-4">
      <label for="inputCity" class="form-label">INGRESE PRECIO</label>
      <input type="text" class="form-control" formControlName = "precio">
   </div>
   <div class="col-md-4">
      <label for="inputCity" class="form-label">INGRESE CANTIDAD</label>
      <input type="text" class="form-control" formControlName = "cantidad">
   </div>
   <div class="col-12">
      <button class="btn btn-primary" (click) = "agregar_productos()">AGREGAR PRODUCTO</button>
   </div>
</form>



<table class="table">
   <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">NOMBRE</th>
         <th scope="col">PRECIO</th>
         <th scope="col">CANTIDAD</th>
         <th scope="col">CANTIDAD VENTA</th>
         <th scope="col">SUB TOTAL</th>
         <th scope="col">OPCIONES</th>
      </tr>      
   </thead>
   <tbody>
      <tr *ngFor = "let prod of productos; let i = index">
         <td>{{i+1}}</td>
         <td>{{prod.nombre}}</td>
         <td>{{prod.precio}}</td>
         <td>{{prod.cantidad}}</td>
         <td>
            <input type="number" [value] = cant_venta (change)="cambio($event)">
         </td>         
         <td>
            {{prod.precio * cant_venta}}
         </td>
         <td>
            <button class="btn btn-primary" (click)= "agregar_carrito(prod)">+ AGREGAR</button>
            <button class="btn btn-danger" (click)= "eliminar_producto(i)">X ELIMINAR</button>
         </td>
      </tr>
   </tbody>
</table>

<h1>CARRITO DE COMPRAS</h1>
<table class="table">
   <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">NOMBRE</th>
         <th scope="col">PRECIO</th>
         <th scope="col">CANTIDAD</th>         
         <th scope="col">SUB TOTAL</th>
         <th scope="col">OPCIONES</th>
      </tr>   
   </thead>
   <tbody>
      <tr *ngFor = "let car of carrito; let i = index">
         <td>{{i+1}}</td>
         <td>{{car.nombre}}</td>
         <td>{{car.precio}}</td>
         <td>{{car.cantidad}}</td>
         <td>{{car.subtotal}}</td>         
         <td>
            <button class="btn btn-danger" (click)= "eliminar_carrito(i)">X ELIMINAR</button>
         </td>
      </tr>
   </tbody>
</table>
<h2>TOTAL A PAGAR: {{total_pagar}}</h2>