
<div class="row">
    <div class="col-1 col-lg-4"></div>
    <div class="col-1 col-lg-4">
        <H3>INGRESO DE USUARIOS</H3>
        <form [formGroup] = "loginForm">
            <label class="form-label">Nombre Usuario</label>
            <input type="text" class="form-control" formControlName = "username">
            <br>
            <label class="form-label">Clave</label>
            <input type="password" class="form-control" formControlName = "clave">
            <br>
            <button class="btn btn-primary" (click) = "ingresar()" [disabled] = "!loginForm.valid">Ingresar</button>
        </form>
        <div class="alert alert-danger" role = "alert" *ngIf="estadologin">
            {{resultado}}
        </div>

    </div>
    <div class="col-1 col-lg-4"></div>
</div>
