<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">     
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">
          <a class="nav-link" routerLink="carrito">CARRITO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="publicaciones">PUBLICACIONES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usuarios">USUARIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>